body{
background-color: black;    
}

#main_header{
    text-align: center;
    color: #ffffff;
}

#instructions{
    /*background-color: #ffffff;*/
    /*opacity: 0.5;*/
    color: #ffffff;
}

#rand_num{
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    height: 200px;
    padding-top: 30px;
    font-size: 20px;
    margin-right: 20px;
    background-color: #000000;
}

#winsdiv{
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    height: 100px;
    padding-top: 30px;
    font-size: 20px;
    background-color: #000000;
}
#lossdiv{
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    height: 100px;
    padding-top: 30px;
    font-size: 20px;
    background-color: #000000;
}

/*#gem_img{
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-right: 20px;
}*/

#your_score{
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    height: 50px;
    margin-top: 30px;
    padding: 10px;
    background-color: black;

}

#points_total{
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    height: 75px;
    margin-top: 10px;
    background-color: black;
    padding: 10px;
}

.button{
   
    margin-top: 20px;
    padding: 0px;
   
}

img{
    height: 200px;
    width: 200px;
    border: 2px solid #000000;
}